# virtualenv
.venv

# Packaging
build
dist
*.egg-info
**/node_modules/
yarn.lock
package-lock.json
/centrifugo

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Site media and builded statics
/var/
/sandbox/static

# Settings
localsettings.py

# Unit test / coverage reports
htmlcov/
.coverage
.cache
.pytest_cache
nosetests.xml
coverage.xml
.tox

# VS Code
.vscode

# Mac Os
.DS_Store

# Temp files
*~
.~lock*

# Swap files
*.sw[po]

# Logging files
*.log
