{% load i18n %}
<nav class="panel">
	<p class="panel-heading">
	    {% trans "Status" %}
	</p>
	<span class="panel-block">
		{% verbatim %}
			<i id="num-msgs" v-bind:class="msgIconClass"></i>&nbsp;{{numMsgs}}
		{% endverbatim %}
		&nbsp;<span id="sline-msgs" class="numMsgsSparkline"></span>
	</span>
	{% verbatim %}
	<span v-for="val in Object.keys(numMsgsClasses)">
		<span class="panel-block panel-block-num" v-if="numMsgsClasses[val]>0">
			<div v-html="getEventLabel(val)"></div>&nbsp;&nbsp;
			<div class="level-item num-msgs-class tag is-light is-medium" 
				v-html="numMsgsClasses[val]"></div>
		</span>
	</span>
	{% endverbatim %}
</nav>