#content {
	min-height:32em;
}
.navbar-brand .title, .navbar-brand .icon {
	color:lightgrey !important;
}
.pad1 {
	padding:2em !important;
}
#messages li {
	padding-bottom:0.5em;
}
.site-name {
	font-weight:bold;
}
.xtile {
	display:inline-block;
	width:33%;
	height:20em;
	overflow:auto;
	padding:1em !important;
}
#sline-msgs {
	max-width:80%;
}
.panel-block-num {
	justify-content: space-between;
}
.num-msgs-class, #num-msgs {
	font-weight:bold;
}
.debug {
	background-color:lime;
	border:1px dashed red;
}
@media all and (max-width: 1040px) {
  	.xtile {
		width:100%;
	}
}