{% load static tailwind_tags %}
<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}Django Mqueue livefeed{% endblock head_title %}</title>
    {% block head_extra %}{% endblock head_extra %}
    {% tailwind_css %}
</head>

<body>
    <div class="flex flex-col w-screen h-screen">
        <div class="w-full p-3 text-xl bg-slate-300">Mqueue livefeed</div>
        <div class="flex-grow w-full p-3">
            {% block content %}{% endblock %}
        </div>
    </div>
    {% block endbody %}{% endblock %}
</body>

</html>
